<div class="row">
  <div class="main-text center-align col s12">
    <h1>Cakes</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/muffin-img.jpg">
        </div>
        <div class="card-content">
          <h5>The world famous Top Muffin.</h5>
        </div>
        <div class="card-action">
          <a href="/muffins">Flavors &amp Prices</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/cupcake.jpg">
        </div>
        <div class="card-content">
          <h5>The Top Muffin rocks a new do with a full head of frosting.</h5>
        </div>
        <div class="card-action">
          <a href="/cupcakes">Flavors &amp Prices</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/cookies.jpg">
        </div>
        <div class="card-content">
          <h5>The Top Muffin gets flattened and baked to gooey perfection.</h5>
        </div>
        <div class="card-action">
          <a href="/cookies">Flavors &amp Prices</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/muffin-img.jpg">
        </div>
        <div class="card-content">
          <h5>The world famous Top Muffin.</h5>
        </div>
        <div class="card-action">
          <a href="/muffins">Flavors &amp Prices</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/cupcake.jpg">
        </div>
        <div class="card-content">
          <h5>The Top Muffin rocks a new do with a full head of frosting.</h5>
        </div>
        <div class="card-action">
          <a href="/cupcakes">Flavors &amp Prices</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/cookies.jpg">
        </div>
        <div class="card-content">
          <h5>The Top Muffin gets flattened and baked to gooey perfection.</h5>
        </div>
        <div class="card-action">
          <a href="/cookies">Flavors &amp Prices</a>
        </div>
      </div>
    </div>
  </div>
</div>