<div class="row">
  <div class="main-text center-align col s12">
    <h1>Cupcakes</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/cake.jpg">
        </div>
        <div class="card-content">
          <h5>Chocolat Mousse Cake | $18.00</h5>
        </div>
      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/short-cake.jpg">
        </div>
        <div class="card-content">
          <h5>Strawberry Short-Cake | $22.00</h5>
        </div>
      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/carrot-cake.jpg">
        </div>
        <div class="card-content">
          <h5>Carrot Cake | $18.00</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/tiramisu-cake.jpg">
        </div>
        <div class="card-content">
          <h5>Tiramisu | $24.00</h5>
        </div>
      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/cheesecake.jpg">
        </div>
        <div class="card-content">
          <h5>Cheesecake | $22.00</h5>
        </div>
      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/tart-cake.jpg">
        </div>
        <div class="card-content">
          <h5>Tart Cakes | $16.00</h5>
        </div>
      </div>
    </div>
  </div>
</div>