<div class="row">
  <div class="main-text center-align col s12">
    <h1>Cupcakes</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/strawberry-cup.jpg">
        </div>
        <div class="card-content">
          <h5>Strawberry | $4.00</h5>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/choc-cup.jpg">
        </div>
        <div class="card-content">
          <h5>Chocolate | $4.00</h5>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/vanilla-cup.jpg">
        </div>
        <div class="card-content">
          <h5>Vanilla | $4.00</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/carrot-cup.jpg">
        </div>
        <div class="card-content">
          <h5>Carrot-cake | $4.00</h5>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/bacon-cup.jpg">
        </div>
        <div class="card-content">
          <h5>Bacon Frosting | $4.00</h5>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/straw-short-cup.jpg">
        </div>
        <div class="card-content">
          <h5>Strawberry Short-Cake | $4.00</h5>
        </div>
      </div>
    </div>
  </div>
</div>