<h1>Top Muffin</h1>

 <form method="post" class="contact-form">
  <div>
    <label class="label-name">Name</label>
    <input type="text" name="name" id="name" placeholder="your name" required>
  </div>
  <div>
		<label>email</label>
		<input type="email" name="email" id="email" placeholder="your email" required>		
  </div>
  <div>
    <input type="submit" value="send it">
  </div>
</form>