<div class="row">
  <div class="main-text center-align col s12">
    <h1>Top Muffins</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/pumpkin-muff.jpg">
        </div>
        <div class="card-content">
          <h5>Pumpkin | $3.00</h5>
        </div>
      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/choc-muff.jpg">
        </div>
        <div class="card-content">
          <h5>Chocolate | $3.00</h5>
        </div>
      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/chip-muff.jpg">
        </div>
        <div class="card-content">
          <h5>Chocolate Chip | $3.00</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/apple-muff.jpg">
        </div>
        <div class="card-content">
          <h5>Apple | $3.00</h5>
        </div>
      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/poppy-muff.jpg">
        </div>
        <div class="card-content">
          <h5>Poppy Seed | $3.00</h5>
        </div>
      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="images/blue-muff.jpg">
        </div>
        <div class="card-content">
          <h5>Blueberry | $3.00</h5>
        </div>
      </div>
    </div>
  </div>
</div>